# Compiled output
auth/dist/
auth/build/
auth/node_modules/

event/dist/
event/build/
event/node_modules/

gateway/dist/
gateway/build/
gateway/node_modules/

# Logs
auth/logs/
auth/*.log
auth/npm-debug.log*
auth/pnpm-debug.log*
auth/yarn-debug.log*
auth/yarn-error.log*
auth/lerna-debug.log*

event/logs/
event/*.log
event/npm-debug.log*
event/pnpm-debug.log*
event/yarn-debug.log*
event/yarn-error.log*
event/lerna-debug.log*

gateway/logs/
gateway/*.log
gateway/npm-debug.log*
gateway/pnpm-debug.log*
gateway/yarn-debug.log*
gateway/yarn-error.log*
gateway/lerna-debug.log*

# OS
*/.DS_Store

# Tests
auth/coverage/
auth/.nyc_output/

event/coverage/
event/.nyc_output/

gateway/coverage/
gateway/.nyc_output/

# IDEs and Editors
auth/.idea/
auth/.project
auth/.classpath
auth/.c9/
auth/*.launch
auth/.settings/
auth/*.sublime-workspace

event/.idea/
event/.project
event/.classpath
event/.c9/
event/*.launch
event/.settings/
event/*.sublime-workspace

gateway/.idea/
gateway/.project
gateway/.classpath
gateway/.c9/
gateway/*.launch
gateway/.settings/
gateway/*.sublime-workspace

# IDE - VSCode
auth/.vscode/*
!auth/.vscode/settings.json
!auth/.vscode/tasks.json
!auth/.vscode/launch.json
!auth/.vscode/extensions.json

event/.vscode/*
!event/.vscode/settings.json
!event/.vscode/tasks.json
!event/.vscode/launch.json
!event/.vscode/extensions.json

gateway/.vscode/*
!gateway/.vscode/settings.json
!gateway/.vscode/tasks.json
!gateway/.vscode/launch.json
!gateway/.vscode/extensions.json

# dotenv environment variable files
auth/.env*
event/.env*
gateway/.env*

# temp directory
auth/.temp/
auth/.tmp/

event/.temp/
event/.tmp/

gateway/.temp/
gateway/.tmp/

# Runtime data
auth/pids
auth/*.pid
auth/*.seed
auth/*.pid.lock

event/pids
event/*.pid
event/*.seed
event/*.pid.lock

gateway/pids
gateway/*.pid
gateway/*.seed
gateway/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
auth/report.*.json
event/report.*.json
gateway/report.*.json
